/*
#FFCC00
#CC6600
#3399CC
#0066CC
#003366
*/
body {
  background: #222;
}

#preso, .slide {
  background-color: #222;
}
.content {
  font-weight: 500;
  letter-spacing: -1px;
  margin: 30px 0 10px 0;
  letter-spacing: 0.02em;
  text-shadow: 0 3px 0 rgba(20,20,20, 0.8);
  font-family: myriad pro;
  color: #FFDD99;
}

h1 {
 /* text-shadow: 0px 1px 0px #DDD;*/
  text-shadow: #FFCC00 0px 2px 0px, #CC6600 0px 4px 0px;
  font-family: ChunkFive;
  color: #3399CC
}

h2 {
  color: #CC6600;
}
h1, h2 {
  /*font-family: Museo Sans, Lucida Granda;*/
  letter-spacing: 0px;
  font-weight: 900;
}

.subsection h1 {
  background: #0066CC;
}


.content::after {
  position: absolute;
  right: 120px;
  bottom: 120px;
}

.bullets > ul > li {
/*  text-align: left;*/
  padding: 25px;
  margin-left: 25px;
}

.bigtext {
  font-size: 130%;
  font-weight: bold;
}

code {
  font-size: 60%;
  white-space: pre-wrap;
  background: #111;
}

pre, pre.sh_sourceCode {
  background: #111;
  box-shadow: -0.5px 5px 6px rgba(0, 0, 0, 0.80);
  color: #0F0;
  font-size: 38px;
}
.subsection code {
  font-size: 120%;
  white-space: pre-wrap;
}

a {
  color: #3399CC;
}

pre.sh_sourceCode .sh_variable {
  color: #2298b5;
}

pre.sh_sourceCode .sh_string {
  color: #a8ff60;
}

pre.sh_sourceCode .sh_number {
  color: #ff73fd;
}
